<nav class="navbar navbar-expand-lg navbar-light" style="background-color: orange">
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent" style="background-color: yellow">
        <div class="d-flex flex-row">
            <div class="nav-item active" style="display:flex;height: 100px;align-items: center">
                <a class="nav-link" style="color:black !important;" href="/">Home</a>
            </div>
            <div class="nav-item" style="display:flex;height: 100px;align-items: center">
                <a class="nav-link" style="color:black !important;" href="/user">User</a>
            </div>
            <div class="nav-item" style="display:flex;height: 100px;align-items: center">
                <a class="nav-link align-middle" style="color:black !important;" href="/products">Products</a>
            </div>
            <div class="nav-item" style="display:flex;height: 100px;align-items: center">
                <a class="nav-link align-middle" style="color:black !important;" href="/newProduct">New product</a>
            </div>
            <div class="nav-item" style="display:flex;height: 100px;align-items: center;">
                <a class="nav-link" href="/shoppingCart"><img src="photos/ShoppingCart.png" style="height: 50px" alt="Shopping Cart"></a>
            </div>
        </div>
        <div >
            <img style="height: 100px" src="photos/Logo.png" alt="gg">
        </div>
        <form class="form-inline my-2 my-lg-0 d-inline-flex">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>