<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Accept requests</title>
</head>
<body>
<div class="container">
  <h3 th:text="'Accept requests for ' + ${business.getName()}"></h3>
  <hr/>
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>B2C</th>
      <th>B2B</th>
      <th>Product</th>
      <th>Producer</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request: ${requestList}">
      <td th:text="${request.b2c.name}"/>
      <td th:text="${request.inventory.business.name}"/>
      <td th:text="${request.inventory.product.name}"/>
      <td th:text="${request.inventory.product.producer}"/>
      <td th:text="${request.quantity}"/>
    </tr>
    </tbody>
  </table>
</div>

<div th:include="fragments/components::bootstrap_script"></div>

</body>
</html>