<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div>
  <h1>This is the Products page!</h1>
</div>

<div class="container">
  <h3 Products List></h3>
  <hr/>
  <form th:action="@{/search}" method="get">
    <input type="text"
           name="keyword"
           th:value="${keyword}"
           placeholder="Find by Product Name or Producer"
           size="50" >
    <button type="submit" class="btn btn-info" >Search</button>
    <button type="submit" class="btn btn-info" >Reset</button>
  </form>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Producer</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="product: ${allProducts}">
        <td th:text="${product.name}"/>
        <td th:text="${product.producer}"/>
        <td>
          <form action="#" th:action="@{'/productDetails/' + ${product.id}}" method="post">
            <p>
              <button type="submit">Details</button>
            </p>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div th:include="fragments/components::bootstrap_script"></div>

</body>
</html>