<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
    <title>Register</title>
</head>

<body>
<div th:replace="fragments/header.html"></div>
<div>
    <div>
        <img style="height: 100px" src="https://i.imgur.com/GQURctQ.jpeg" alt="Logo">
        <form method="post" th:action="@{/business/register}">
            <h2>Register your business!</h2>
            <div>
                <!--Company name-->
                <div>
                    <input id="nameInput"
                           name="name"
                           type="text"
                           placeholder="Name..."
                           autofocus="true"
                           style="width: 200px"/>
                    <label for="nameInput">Company Name</label>
                </div>

                <!--Address-->
                <div>
                    <input id="addressInput"
                           name="address"
                           type="text"
                           placeholder="Address..."
                           style="width: 200px"/>
                    <label for="addressInput">Address</label>
                </div>

                <!--Identification Token-->
                <div>
                    <input id="tokenInput"
                           name="token"
                           type="text"
                           placeholder="Token..."
                           style="width: 200px"/>
                    <label for="tokenInput">Identification Token</label>
                </div>

                <!--Type-->
                <div>
                    <select name="type" style="width: 200px">
                        <option th:value="'BToB'" th:text="'Business To Business'"></option>
                        <option th:value="'BToC'" th:text="'Business To Client'"></option>
                    </select>
                    <label>Type</label>
                </div>
            </div>

            <!--Login/Register-->
            <div>
                <button type="submit">Submit</button>
                <p>
                    <a href="/login">Login</a>
                </p>
            </div>
        </form>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"></div>

</body>
</html>