<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
    <title>Register</title>
</head>

<body>
<div>
  <div>
    <form method="POST" th:action="@{/user/register}" th:object="${user}">
        <h2>Create an account</h2>
        <div>
            <!--Email-->
            <div>
                <input id="emailInput"
                       name="email"
                       type="text"
                       placeholder="Email..."
                       th:field="*{email}"
                       autofocus="true"/>
<!--                <label for="emailInput">Email</label>-->
                <span class="has-error"
                      th:if="${#fields.hasErrors('email')}"
                      th:errors="*{email}"></span>
            </div>

            <!--Password-->
            <div>
                <input id="passwordInput"
                       name="password"
                       type="password"
                       placeholder="Password..."
                       th:field="*{password}"/>
<!--                <label for="passwordInput">Password</label>-->
                <span class="has-error"
                      th:if="${#fields.hasErrors('password')}"
                      th:errors="*{password}"></span>
            </div>

            <!--Password Confirm-->
            <div>
                <input id="passwordConfirm"
                       name="passwordConfirm"
                       type="password"
                       placeholder="Confirm Password..."
                       th:field="*{passwordConfirm}"/>
<!--                <label for="passwordConfirm">Confirm Password</label>-->
            </div>
            <span class="has-error"
                  th:if="${#fields.hasErrors('passwordConfirm')}"
                  th:errors="*{passwordConfirm}"></span>
        </div>

        <!--Login/Register-->
        <button type="submit">Submit</button>
        <div>
            <p>
                <a href="/login">Login</a>
            </p>
        </div>
    </form>
  </div>
</div>

<div th:include="fragments/components::bootstrap_script"></div>

</body>
</html>