<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:include="fragments/components::header">
    <title>Register</title>
</head>

<body>
<div th:replace="fragments/header.html"></div>
<div>
    <div>
        <form method="post" th:action="@{/business/register}" th:object="${business}">
            <h2>Register your business!</h2>
            <div>
                <!--Company name-->
                <div>
                    <input id="nameInput"
                           name="name"
                           type="text"
                           placeholder="Name..."
                           th:field="*{name}"
                           autofocus="true"
                           style="width: 200px"/>
<!--                    <label for="nameInput">Company Name</label>-->
                    <span class="has-error"
                          th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>
                </div>

                <!--Address-->
                <div>
                    <input id="addressInput"
                           name="address"
                           type="text"
                           placeholder="Address..."
                           th:field="*{address}"
                           style="width: 200px"/>
<!--                    <label for="addressInput">Address</label>-->
                    <span class="has-errors"
                          th:if="${#fields.hasErrors('address')}"
                          th:errors="*{address}"></span>
                </div>

                <!--Identification Token-->
                <div>
                    <input id="tokenInput"
                           name="token"
                           type="text"
                           placeholder="Token..."
                           th:field="*{token}"
                           style="width: 200px"/>
<!--                    <label for="tokenInput">Identification Token</label>-->
                    <span class="has-errors"
                          th:if="${#fields.hasErrors('token')}"
                          th:errors="*{token}"></span>
                </div>

                <!--Type-->
                <div>
                    <select name="type" style="width: 200px">
                        <option th:value="'B2B'" th:text="'Business To Business'"></option>
                        <option th:value="'B2C'" th:text="'Business To Client'"></option>
                    </select>
                </div>
            </div>

            <!--Login/Register-->
            <div>
                <button type="submit">Submit</button>
                <p>
                    <a href="/login">Login</a>
                </p>
            </div>
        </form>
    </div>
</div>

<div th:include="fragments/components::bootstrap_script"></div>

</body>
</html>